/* site wide */
* {
  box-sizing: border-box;
}

body {
  color: black;
  font: normal 14px/1.5 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
  /* set to 99.3vw to account for right hand scroll bar */
  width: 99.3vw;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

button {
  color: inherit;
  background: inherit;
  border: none;
}

/* nav */
nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.secondary-nav {
  display: none;
}

/* primary nav */
.primary-nav {
  margin: 0;
  background: white;
  justify-content: space-between;
  top: -1px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  padding-left: 0.8rem;
}

.primary-nav > * {
  padding: 0.8rem 0.5rem;
  font-style: uppercase;
}

.primary-nav a {
  color: gray;
  opacity: 0.7;
  font: normal 14px/1.8 'Roboto Mono', monospace;
  text-transform: uppercase;
  font-variant: small-caps;
  text-align: center;
  word-spacing: 0.25px;
  letter-spacing: 1px;
}

.primary-nav a:hover {
  color: black;
  opacity: 1;
}

.primary-nav > .search {
  font-size: 15px;
  opacity: 0.7;
  color: gray;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  border-left: 0.5px solid rgba(0, 0, 0, 0.2);
}

.search {
  text-align: right;
  padding-right: 1rem;
}

.search:hover {
  cursor: pointer;
  opacity: 0.9;
  color: gray;
}

.nav-message {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  top: 6.5vh;
  font-size: 12px;
  font-weight: 400;
  align-items: center;
  padding: 0.8rem 0 0.8rem 1.4rem;
  height: 3vh;
  width: 100%;
  background: #ffdd33;
  cursor: pointer;
  z-index: 1;
}

.nav-message .arrow {
  padding-left: 0.5rem;
}

/* main content */

main {
}

@media screen and (min-width: 768px) {
  /* secondary nav */
  .secondary-nav {
    font: normal 13px/1.5 sans-serif;
    color: #a5a5a5;
    background: black;
    position: relative;
    display: flex;
    height: 4.5vh;
    margin: 0;
    width: 100%;
  }

  .secondary-nav a,
  .secondary-nav button {
    padding: 0.25rem;
  }

  .secondary-nav a:hover,
  .secondary-nav button:hover {
    color: white;
  }

  .secondary-nav .nav-left {
    margin-left: 1rem;
    margin-right: auto;
  }

  .secondary-nav .nav-right {
    margin-right: 1rem;
  }
  /* dropdowns */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropbtn {
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    background: black;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content,
  .dropdown:focus .dropdown-content,
  .dropdown:active .dropdown-content {
    display: block;
  }

  .dropdown-item {
    cursor: pointer;
    color: inherit;
    background: black;
    text-decoration: none;
    display: block;
    margin: 0.25rem 0.7rem;
  }

  /* Change color of dropdown links on hover */
  .dropdown-item:hover {
    color: white;
  }
  /* header */
  header.header-pictures {
    margin-top: 0.2rem;
    display: flex;
    background: white;
    margin-top: 10vh;
    height: 65vh;
    margin-bottom: 15vh;
    cursor: pointer;
  }

  .picture-one {
    color: white;
    height: 100%;
    width: 66%;
    height: auto;
    opacity: 0.85;
    margin-right: 0.5rem;
    background: no-repeat 50% / cover
      url('https://web.archive.org/web/20190925190407oe_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/09/Ubisoft-Concordia-796x417.jpg');
  }

  .picture-one * {
    opacity: 1;
  }

  .picture-one .date,
  .picture-two .date,
  .picture-three .date {
    position: absolute;
    top: 1rem;
    right: 2rem;
  }

  .picture-one,
  .picture-two,
  .picture-three {
    position: relative;
  }

  .picture-one .gradient,
  .picture-two .gradient,
  .picture-three .gradient:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    background: linear-gradient(to top, black, rgba(50, 50, 50, 0.9));
    z-index: -1;
  }

  .picture-one .description,
  .picture-two .description,
  .picture-three .description {
    position: absolute;
    left: 1rem;
    bottom: 5px;
  }

  .picture-one h2,
  .picture-two h2,
  .picture-three h2 {
    margin: 0.5rem 0;
    padding: 0;
    font-size: 2.7rem;
    font-weight: bold;
  }

  .picture-two h2,
  .picture-three h2 {
    font-size: 1.5rem;
  }

  .picture-one .credit,
  .picture-two .credit,
  .picture-three .credit {
    color: gray;
  }

  .secondary-pictures {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 33%;
  }

  .picture-two {
    width: 100%;
    height: 48%;
    margin-bottom: 1%;
    background: no-repeat 50% / cover
      url('https://web.archive.org/web/20190925190407oe_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/09/Snag_4664224c-796x415.png');
    opacity: 0.85;
  }

  .picture-three {
    background: no-repeat 50% / cover
      url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/09/vodablockchain-796x448.jpg');
    height: 50.5%;
    opacity: 0.85;
  }

  .picture-one:hover,
  .picture-three:hover,
  .picture-two:hover {
    transition: all ease-in 0.4s;
    opacity: 0.95;
  }

  .picture-one-h1 {
    padding-left: 1rem;
    font-style: italic;
    display: inline;
    font-size: 8rem;
  }

  .picture-two .description,
  .picture-three .description {
    position: absolute;
    color: white;
  }

  .picture-two .credit,
  .picture-three .credit {
    color: gray;
  }
}
