/* site wide */
body {
  color: black;
  font: normal 14px/1.5 'Roboto Mono', monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

button {
  color: inherit;
  background: inherit;
  border: none;
}

/* nav */
nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100vw;
}

/* secondary nav */

.secondary-nav {
  font: normal 13px/1.5 sans-serif;
  color: #a5a5a5;
  background: black;
  position: relative;
  height: 4.5vh;
  margin: 0;
}

.secondary-nav a,
.secondary-nav button {
  padding: 0.25rem;
}

.secondary-nav a:hover,
.secondary-nav button:hover {
  color: white;
}

.secondary-nav .nav-left {
  margin-left: 1rem;
  margin-right: auto;
}

.secondary-nav .nav-right {
  margin-right: 1rem;
}

/* primary nav */

.primary-nav {
  justify-content: space-between;
  position: fixed;
  height: 7vh;
  padding: 0 0.8rem;
}

.primary-nav > * {
  padding: 0.8rem 0.5rem;
  font-style: uppercase;
}

.primary-nav a {
  color: gray;
  opacity: 0.7;
  font: normal 14px/1.8 'Roboto Mono', monospace;
  text-transform: uppercase;
  font-variant: small-caps;
  text-align: center;
  word-spacing: 0.25px;
  letter-spacing: 1px;
}

.primary-nav a:hover {
  color: black;
  opacity: 1;
}

.primary-nav > .search {
  font-size: 15px;
  opacity: 0.7;
  color: gray;
  margin-left: auto;
  margin-right: 1rem;
  padding-left: 1rem;
  border-left: 0.5px solid rgba(0, 0, 0, 0.2);
}

.search {
  text-align: right;
  padding-right: 1rem;
}

.search:hover {
  cursor: pointer;
  opacity: 0.9;
  color: gray;
}

.nav-message {
  display: flex;
  position: fixed;
  font-size: 12px;
  font-weight: 400;
  align-items: center;
  margin-top: 6.7vh;
  padding: 0.5rem;
  padding-left: 0.8rem;
  height: 1.5vh;
  width: 100vw;
  background: #ffdd33;
  cursor: pointer;
}

.nav-message .arrow {
  padding-left: 0.5rem;
}

/* dropdowns */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  background: black;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content,
.dropdown:focus .dropdown-content,
.dropdown:active .dropdown-content {
  display: block;
}

.dropdown-item {
  cursor: pointer;
  color: inherit;
  background: black;
  text-decoration: none;
  display: block;
  margin: 0.25rem 0.7rem;
}

/* Change color of dropdown links on hover */
.dropdown-item:hover {
  color: white;
}

/* header */

header {
  display: flex;
  margin: 0.2rem;
  height: 80vh;
  background: white;
}

.picture-one {
  width: 65%;
  height: 100%;
}

.picture-two,
.picture-three {
  width: 32%;
  height: 48%;
}

/* main content */

main {
}

@media screen and (min-width: 768px) {
  /* remove hamburger */
}
